/* NOTE: This is a required skin file! */

/* Includes */
@import "../fonts/font-awesome-4.6.3/css/font-awesome.min.css";


/* CSS Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


/* Style */
body { font:87.5%/1.4 Arial, Helvetica, sans-serif; color: #333; }

h2 { font-size: 1.286em; font-weight: bold; margin-bottom: 0.5em; }
.input-text { border: 1px solid #ccc; padding: 5px; border-radius: 3px; }
.input-text:focus { box-shadow: 0 0 3px 0 #ccc; border-color: #999; }

.no-display  { display: none; }

#header { width: 100%; position: fixed; top: 0; left: 0; background: #f5f5f5; padding: 20px 150px 20px 200px; font-size: 1.429em; border-bottom: 1px solid #ccc; }
#logo { width: 150px; height: 100%; position: absolute; left: 0; top: 0; padding: 24px 0 20px 20px; font-weight: bold; }
#logo .fa { margin-right: 5px; font-weight: normal; font-size: 1.05em; color: #666; }
#input-wrapper { float: left; width: 90%; }
#location-input { width: 100%; max-width: 600px; padding: 9px 10px; font-size: 0.7em; }
#dump-button {
	width: 130px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: #8C7ED2;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}
#dump-button.disabled {
	opacity: 0.5;
	background: #999;
	cursor: not-allowed;
}
#dump-button .fa { margin-right: 5px; }

#main { padding: 20px; margin-top: 80px; }
#main h2 { display: inline-block; }
#select-all-btn {
	display: block;
	float: right;
	color: #8C7ED2;
	font-weight: bold;
	text-decoration: none;
}
#select-all-btn:hover { text-decoration: underline; }

.database-list { border-top: 1px solid #ddd; }
.database-list-item { border-bottom: 1px solid #ddd; padding: 10px 0; cursor: pointer; }
.database-list-item:hover { background: #f5f5f5; }
.database-list-item .fa, .database-list-item label { display: inline-block; vertical-align: middle; cursor: pointer; }
.database-list-item label {}
.database-list-item .fa { font-size: 1.929em; margin-right: 5px; }
.database-list-item .fa.fa-toggle-on { color: #8C7ED2; }
.database-list-item.loading, .database-list-item.loading:hover {
	background-color: #fff;
	background-size: 30px 30px;
	background-image: linear-gradient(135deg, rgba(0, 0, 0, .03) 25%, transparent 25%,
	transparent 50%, rgba(0, 0, 0, .03) 50%, rgba(0, 0, 0, .03) 75%,
	transparent 75%, transparent);

	animation: animate-stripes 2s linear infinite;
}
@keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}


/* No select text */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


/* Clearfix */
.clearfix:before, .clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }